.outerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1A1A1D;
  }
  
  .container {
    object-fit: fill;
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    background: #FFFFFF;
    border-radius: 8px;
    height: 90%;
    width: 60%;
    text-align: center
  }
  
